
body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 80vh;
    background: #D9D7DD;
  
}

.pic {
  content: "";
}
.pic::after {

  content: "";
  background: url('uiuc.jpg');
  background-size:100% 100%;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
 
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header {
  font-family: Arial;
  font-size: 4rem;
  margin-bottom: 2rem; 
  margin-top: 1rem;
  
}

.label {
  font-Size: 1.5rem; 
  display: flex;
  flex-Direction: column; 
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

